html body {
  background-color: #111d29;
}

#top_nav {
  background-color: #111d29 !important;
}

html body a {
  color: #b1d237 !important;
}

#SIvCob {
  color: white !important;
}

#SIvCob a {
  color: #b1d237 !important;
}

.GmE3X {
  color: white;
}

.o3j99.c93Gbe {
  background-color: #111d29;
}

.uU7dJb {
  color: white !important;
}

.ayzqOc.pHiOh {
  color: white !important;
}

.gb_Te {
  color: white !important;
}

.sfbg {
  background-color: #111d29 !important;
}

#pTwnEc {
  background-color: #111d29 !important;
}

.hdtb-mitem .GOE98c,
.t2vtad {
  color: white !important;
}

#extabar {
  background-color: rgb(184, 237, 237) !important;
}

.g span {
  color: white;
}

.g span em {
  color: rgb(184, 237, 237);
}

.g cite {
  color: #374cd2 !important;
}

.lnXdpd {
  content: url("/icons/icon128.png");
}

.logo img {
  height: 45px;
  width: 60px;
}
